* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

.hidden {
    display:none;
    position:static;
}

.lightboxcontent {
    position: fixed;
    z-index: 100;
    display: block;
    left: 50%;
}